.mainrp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12rem;
 }
 .emaildetailrp{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap:0.5rem;
     margin-right: 1rem;
 }
 /* .email{
     margin-right: 1rem;
 } */
 .emailtxt{
     margin-right: 1rem;
 }
 .emailinputrp{
     margin-left: 40%;
     margin-top: 0.5rem;
 }
 .passwordhiderp{
     display: flex;
     flex-direction: row;
 }
 .passwordhideiconrp{
     margin-left: 0.5rem;
 }
 .passworddetailrp{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
 }
 .newpasswordrp{
     margin-top: 0.2rem;
 }
 .buttonstyle{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .accountexistrp{
     width: 10rem;
     margin-top: 1rem;
     margin-right: 2rem;
 }