.parentdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formdiv{
    margin-top: 1rem;
    height: 2rem;
    width: 30rem;
}
.heading{
    text-align: center;
}
.Email{
    margin-left: 2rem;
  
    margin-bottom: 1rem;

}
.emailheading{
    font-size: 20px;
    font-weight: bold;
}
.emailinput{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    width: 20rem;
    height: 2rem;
}
.passwordhide{
    display: flex;
    flex-direction: row;
}
.input-container{
    margin-top: 0.6rem;
    margin-left: 0.2rem;
}
.buttonclass{
   display: flex;
   justify-content: center;
}
.button{
    width: 20rem;
    height: 2rem;
    background-color: #0e6efe;
    border: 0.5px solid white;
    color: white;
    font-weight: bold;
    margin-right: 2.5rem;
    justify-content: center;
}
.newUser{
    display: flex;
    flex-direction: row;
    margin-left: 14rem;
    gap: 12px;
    margin-top: 5px;
}
.register{
    color: #0e6efe;
    text-decoration: underline;
}
.continuewith{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;

}
.googlelogo{
    width: 10rem;
}
.emailwarning{
    color: red;
    margin-left: 5px;
    display: none;
}
.passwordwarning{
    color: red;
    margin-left: 5px;
    display: none;
}

/* Responsiveness*/
@media only screen and (max-width:600px){
    .emailheading{
        text-align: center;
    }
    .emailinput{
        text-align: center;
    }
}