.voicerecorderparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.buttonparent{
    display: flex;
    flex-direction: row;
}
.playbutton{
    margin-right: 2rem;
}
.stopbutton{
    margin-left: 2rem;
}