.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.voicerecorderparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.buttonparent{
    display: flex;
    flex-direction: row;
}
.playbutton{
    margin-right: 2rem;
}
.stopbutton{
    margin-left: 2rem;
}
.nextquestionparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}
.nextquestion{
    background-color: #bc61fe;
}